
#interestImg{
  height: 600px;
  width: 500px;
  margin-bottom: 10px;
  border: rgba(0, 0, 0, 0.3) solid 5px;
  border-radius: 30px;
}

#divCloseButton{
cursor:pointer ;
display: flex;
justify-content: flex-end;
margin-top: -9px;
margin-left: 730px;
width: 20px;
}

#searchBarButton{
  /* border-radius: 10px;
  margin-top: -1px;
  margin-left: -6px;
  height: 56px; */
}


#searchBar{
margin-top: -450px;
margin-left: 720px;
background-color: white;
display: flex;
width: 450px;
z-index: 0;
/* height: 54px; */
/* border-radius: 20px; */
}

#outlined-basic{
  width: 350px !important;
}

#locationInfo{
  background-color: rgb(51, 51, 51, .30);
  border-radius: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  line-height: 1.5;
  margin: 10px;
  width: 800px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  position:relative;
  margin-left: auto;
  /* margin-right: auto; */
  top: -400px; 
  left: 900px;
}
#pinName{
  padding: 10px;
  z-index: 10;
  background-color: #333;
  color: #fff;
  margin-bottom: 40px;
  width: 100%;
}
#locationContainer{
  display: flex;
  word-wrap: break-word;
  height: 0px;
  justify-content: center;
}
#interestContainer{
  border: 2px rgb(51, 51, 51,);
  border-radius: 30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto; 
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  padding: 30px;
}

