html {
}



#searchBar{
margin-top: -730px;
z-index: 1;
}

#locationInfo{
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  line-height: 1.5;
  margin: 10px;
  width: 400px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  position:relative;
  margin-left: auto;

  /* margin-right: auto; */
  top: -550px; 
  left: 850px;
}
#pinName{
  padding: 10px;
  z-index: 10;
  background-color: #21b8f3;
  color: #fff;
}
#locationContainer{
  display: flex;
  word-wrap: break-word;
  height: 0px;
}