
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content-container {
  position: relative;
  z-index: 1;
  font-size: 24px;
  text-align: center;
  padding: 50px;
  width: 1000px;
  height: 1000px;
}

.content-left {
  background-color: rgba(3,5,24,.70);
  color: #E9CFF8;
  border: 3px solid #375C9F ;
  padding: 20px;
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: 380px;
  margin-top: 50px;
}

.content-right {
  background-color: rgba(3,5,24,.70);
  
  border: 3px solid #375C9F;
  color: #E9CFF8;
  padding: 20px;
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: 550px;
}

.home-H2-2 {
  /* border: solid 3px #375C9F; */
  width: fit-content;
  /* background-color: rgba(3,5,24,.70); */
  font-size: 34px;
  margin-bottom: 30px;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  color: #E9CFF8;
}
.home-p-tags{
  border: solid 3px #375C9F;
}

.home-H2{
  margin-bottom: 30px;
}

.home-p-tags-2 {
  border: solid 3px #375C9F;
  font-size: 25px;
  line-height: 1.5;
  color: #E9CFF8;
  
}

/* Use a sans-serif font and increase font size for body text */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Increase line spacing for body text */
p {
  line-height: 1.8;
}

/* Use bold text for headings */
h1, h2, h3 {
  font-weight: bold;
}

/* Use italic text for emphasis */
em {
  font-style: italic;
}

