.profile {
 display: flex;
 justify-content: center;
 /* border: 5px solid green; */
 margin-right: 1%;
 width: 400px;
 color: white;
}

#userpicture {
  height: 60px;
  margin-left: 80% ;
}

#usertextcontainer {
  margin-left: 5%;
  font-size :small;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
#profileH2 {
  margin-bottom: 0px ;
  width: max-content;
  
  
}

#profileP{
  width: min-content;
  margin-bottom: 0px ;
  text-align: center;
}